$xs: rem(480px);
$sm: rem(640px);
$md: rem(768px);
$lg: rem(1024px);
$xl: rem(1280px);
$xxl: rem(1440px);
$responsive_size_modifier: 0.825;
$responsive_size_modifier_large: 0.6;

html,
body {
	@apply font-body selection:bg-purple selection:text-white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}
