$xs: rem(480px);
$lg: rem(1240px);

html {
  font-size: 16px;
}

body {
  @apply font-body;
  @include clamp("font-size", rem(16px), rem(20px), $xs, $lg);
	// font-weight: 500;
  line-height: 1.54;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose {
  color: inherit;
  line-height: 1.56;

  .post-text:nth-of-type(1),
  // have to do first and second children because sometimes first element is hidden anchor link
  [data-label]+.post-text:nth-of-type(2) {
    > :first-child {
      margin-top: 0;
    }
  }

  *,
  strong,
  b,
  h2,
  h3,
  h4,
  h5 {
    color: inherit;
  }

  a {
    @apply text-orange underline hover:text-black;
  }

  :where(ul > li):not(:where([class~="not-prose"] *))::marker {
    color: inherit;
    opacity: .8;
  }

  // Override tailwind.config.js CSS min/max when needed
  @include clamp("font-size", rem(16px), rem(18px), $xs, $lg);

  strong,
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong {
    @apply font-semibold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  &,
  .prose & {
    @apply font-heading font-semibold;
    line-height: 1.2;
  }

	&.text-dark-grey {
		color:#556072;
	}
}

.text,
.prose {
  &-h1,
  h1 {
    @include clamp("font-size", rem(37px), rem(64px), $xs, $lg);
    line-height: 1.07;
  }

  &-h2,
  h2 {
    @include clamp("font-size", rem(30px), rem(48px), $xs, $lg);
  }

  &-h3,
  h3 {
    @include clamp("font-size", rem(24px), rem(28px), $xs, $lg);
  }

  &-h4,
  h4 {
    @include clamp("font-size", rem(21px), rem(24px), $xs, $lg);
  }

  &-h5,
  h5 {
    @include clamp("font-size", rem(17px), rem(18px), $xs, $lg);
    line-height: 1.3;
  }

  &-h6,
  h6 {
    @include clamp("font-size", rem(13px), rem(13px), $xs, $lg);
  }
}

.text-p2 {
  @include clamp("font-size", rem(16px), rem(18px), $xs, $lg);
  line-height: 1.56;
  letter-spacing: -0.01em;
}

.text-12px {
  @include clamp("font-size", rem(12px), rem(12px), $xs, $lg);
  line-height: 1.5;
}

.text-13px {
  @include clamp("font-size", rem(13px), rem(13px), $xs, $lg);
  line-height: 1.5;
}

.text-14px {
  @include clamp("font-size", rem(13px), rem(14px), $xs, $lg);
  line-height: 1.5;
}

.text-15px {
  @include clamp("font-size", rem(14px), rem(15px), $xs, $lg);
  line-height: 1.5;
}

.text-16px {
  @include clamp("font-size", rem(15px), rem(16px), $xs, $lg);
  line-height: 1.5;
}

.text-17px {
  @include clamp("font-size", rem(16px), rem(17px), $xs, $lg);
  line-height: 1.5;
}

.text-18px {
  @include clamp("font-size", rem(16px), rem(18px), $xs, $lg);
  line-height: 1.555;
}

.text-20px {
  @include clamp("font-size", rem(18px), rem(20px), $xs, $lg);
}

.text-22px {
  @include clamp("font-size", rem(20px), rem(22px), $xs, $lg);
}

.text-24px {
  @include clamp("font-size", rem(20px), rem(24px), $xs, $lg);
}

.text-26px {
  @include clamp("font-size", rem(24px), rem(26px), $xs, $lg);
}

.text-28px {
  @include clamp("font-size", rem(25px), rem(28px), $xs, $lg);
}

.text-30px {
  @include clamp("font-size", rem(26px), rem(30px), $xs, $lg);
}

.text-32px {
  @include clamp("font-size", rem(26px), rem(32px), $xs, $lg);
}

.text-35px {
  @include clamp("font-size", rem(28px), rem(35px), $xs, $lg);
}

.text-36px {
  @include clamp("font-size", rem(28px), rem(36px), $xs, $lg);
}

.text-104px {
  @apply tracking-[-0.02em] leading-[1.1em];
  @include clamp("font-size", rem(60px), rem(104px), $xs, $lg);
}

.text-104px-small-mobile {
  @apply tracking-[-0.02em];
  @include clamp("font-size", rem(40px), rem(104px), $xs, $lg);
}


.screenreader-text {
  position: absolute;
  top: -9999vh;
  left: 0;
}
